{% extends 'components/base.html.twig' %}
{% block stylesheets %}{% endblock %}

{% block title %}
	{{ SiteName }}: Partenaires
{% endblock %}

{% block body %}
	<div class="wrapper">
		<h1>
			Partenaires
		</h1>
		{#
		On affiche les aperçus des articles dans des cards.
		Chaque card est cliquable, et renvoi vers la fullPage de l'article.
		#}
		<section class="articles">
			{{ include ('articles/_articlesBase.html.twig') }}
		</section>
	</div>
{% endblock %}