
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
# /config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###


### Rajouté par Éric
/composer.lock
/symfony.lock
/composer.json

/.env
/migrations/
/public/uploads/
/public/images/
/exportBdd/
/.brouillon
/.notes
/config/secrets/