/* ================== TABLE ===================== */

.conteneur_table {
   margin: 30px auto 60px auto;
   max-width: 700px;
}



.table-admin-dashboard {
   display: flex;
   justify-content: center;
}

.table_1 {
   width: 99%;
   background-color: #313131d2;
}

.table_1 tbody tr:nth-child(2n + 1) {
   background-color: rgba(0, 0, 0, 0.562);
}

.table_1,
.table_1 tr,
.table_1 td {
   border: 1px solid #ffffff;
   border-collapse: collapse;
}

.table_1 th {
   padding: 12px;
}

.table_1 td {
   padding: 6px 12px 6px 12px;
   color: rgb(255, 255, 255);
   max-width: 230px;
}

.table_1 td a i {
   margin: 0 10px 0 10px;
}

.blocTitreImage {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
}

.blocTitreImage img {
   border-radius: 4px;
   width: 60px;
   height: 60px;
   object-fit: cover;
   object-position: top;
   margin-left: 14px;
}

.titreEtInfos {
   line-height: 1.3em;
   overflow: hidden;
   text-overflow: ellipsis;
   max-width: 269px;
   white-space: nowrap;
}

.date,
.table-icones-infos {
   font-size: .8em;
   color: rgb(165, 165, 165);
}

.table-icones-infos {
   display: flex;
}

.articles-epingle-on>i,
.articles-actif-off>i,
.articles-actif-on>i,
.articles-linked>i,
.articles-listed-on>i,
.articles-listed-off>i,
.categorie,
.nbreImages {
   padding: 0 8px 0 0;
}

.annule {
   text-decoration: red line-through;
}

.articles-listed-off {
   position: relative;
}

.articles-listed-off::before {
   content: "\\";
   font-size: 1.7em;
   position: absolute;
}

/* ========= FORMULAIRE COMPORTANT UN CHAMP INPUT CACHÉ DE SUPPRESSION D'UN ÉLÉMENT ======== */

.deleteForm {
   display: inline-block;
   margin-left: 6px;
}

/* ====== ICONES FONTAWESOME ======= */

.iconeEditer::before,
.iconeEditerGris::before,
.iconeSupprimer::before,
.iconeSupprimerGris::before,
.iconeCloner::before,
.iconePreview::before {
   font-family: "Font Awesome 5 Free";
   font-size: 1.6em;
   font-weight: 500;
   margin: 0;
   padding: 0;
}

.iconeEditer::before {
   color: #73b7ff;
   content: "\f044";
}

.iconeEditerGris::before {
   content: "\f044";
   cursor: not-allowed;
}

.iconeEditer,
.iconeEditerGris {
   margin: 8px 12px 8px 12px;
}

/* icone cloner */

.iconeCloner::before {
   color: rgb(255, 217, 0);
   content: "\f24d";
}

.iconeCloner {
   margin: 8px 12px 8px 12px;
}


.iconeSupprimer::before {
   color: #ec1127;
   content: "\f2ed";
   cursor: pointer;
   border: none;
}

.iconeSupprimerGris::before {
   content: "\f2ed";
   border: none;
   margin-left: 6px;
}

.iconeSupprimer,
.iconeSupprimerGris {
   background-color: transparent;
   margin: 12px 0 8px 0;
   border: none;
}

.iconeEditerGris::before,
.iconeSupprimerGris::before {
   color:rgba(255, 255, 255, 0.3)
}

.iconeSupprimerGris {
   cursor: not-allowed;
}


/* Icone aperçu */

.iconePreview {
   margin: 8px 12px 8px 12px;
}

.iconePreview::before {
   color: rgb(255, 153, 0);
   content: "\f06e";
}

/* ====== ICONE BLUE ANGELS ======= */

.event-blue-angels {
   position: relative;
   top: 2px;
   left: -12px;
   height: 13px;
   width: 13px;
}

.event-blue-angels img {
   height: 100%;
   width: 100%;
}

/* ====== BOUTONS ======= */

.boutonNew {
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
   /* box-shadow: 2px 2px 8px #4d4d4d; */
   margin: auto 8px 20px auto;
   width: 110px;
   height: 40px;
   border-radius: 6px;
   background-color: #2c70b8;
   font-weight: bold;
   text-shadow: 2px 2px 3px rgb(0, 0, 0);
}

/* ============================ */