html {
   box-sizing: border-box;
   color: rgb(184, 184, 184);
   background-color: #000000;
   font-family: 'Quicksand', sans-serif;
}

html, body {
   padding: 0;
   margin: 0;
}

header {
   /* border: white solid 1px; */
   position: relative;
   width: 100%;
   background-image: url("../images/ardian-lumi-6Woj_wozqmA-unsplash.jpg");
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
   background-position: 100% 100%;
}

h1, h2, h3, h4, h5, h6 {
   font-weight: 300;
   text-transform: uppercase;
   margin: 10px;
   padding: 0;
   text-align: center;
}

ul {
   list-style-type: none;
}

a {
   display: inline-block;
   color: inherit;
   text-decoration: none;
}

a:hover {
   text-decoration: underline #17a2ff 3px solid;
}

a::first-letter {
   font-weight: 600;
   color: #17a2ff;
}

.wrapper {
   /* border: solid red 1px; */
   margin: 0 0 0 0;
}

.center {
   text-align: center;
}

/* ================== colors ================ */
.green {
   color: rgb(4, 133, 0);
}

.red {
   color: rgb(189, 1, 1);
}

.blue {
   color: rgb(0, 123, 224);
}

.blue-pastel {
   color: rgb(31, 163, 252);
}
