html {
   box-sizing: border-box;
   color: rgb(184, 184, 184);
   background-color: #000000;
   font-family: 'Quicksand', sans-serif;
}

html, body {
   padding: 0;
   margin: 0;
}

h1, h2, h3, h4, h5, h6 {
   font-weight: 300;
   text-transform: uppercase;
   margin: 10px;
   padding: 0;
   text-align: center;
}

ul {
   list-style-type: none;
}

a {
   color: inherit;
   text-decoration: none; 
}

.wrapper {
   /* border: solid red 1px; */
   margin: 0 0 0 0;
}

.center {
   text-align: center;
}

.green {
   color: rgb(4, 133, 0);
}

.blue {
   color: rgb(0, 123, 224);
}
