.bouton {
   text-align: center;
   /* margin: auto; */
   padding: 7px 20px 7px 20px;
   width: max-content;
   height: auto;
   border-radius: 6px;
   color: rgb(209, 209, 209);
   background-color: #225d91;
   font-weight: 500;
   text-transform: uppercase;
}

.boutonFlecheGauche:hover
.flecheGauche {
   left: -13px;
}

.flecheGauche {
   position: relative;
   left: -6px;
   transition: left .6s;
}

.boutonFlecheDroite:hover
.flecheDroite {
   left: 15px;
}

.flecheDroite {
   position: relative;
   left: 6px;
   transition: left .6s;
}

.bt2 {
margin: 10px;
}

.bt-inline-bloc {
   display: inline-block;
}

.bt-medium {
   display: inline-block;
   font-size: .9em;
   padding: 8px 15px 8px 15px;
}

.bt-small {
   font-size: .8em;
   padding: 6px;
   width: max-content;
   border-radius: 4px;
}

.bt-extra-small-arrow {
   padding: 0;
   width: 18px;
   height: 18px;
   margin-left: 8px;
   border-radius: 50%;
}

.boutonsVoir {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}

.bouton:hover {
   cursor: pointer;
   color: #fff;
}

/* ============= Colors ================== */

.bt-color {
   background-color: #225d91;
}

.bt-grise {
   background-color: rgb(128, 128, 128);
}