.bouton {
   text-align: center;
   /* margin: auto; */
   padding: 10px 18px 10px 18px;
   width: auto;
   height: auto;
   border-radius: 6px;
   color: rgb(219, 219, 219);
   /* background-color: #2c70b8; */
   background-color: #225d91;
   font-weight: 800;
   text-transform: uppercase;
}

.bt2 {
margin: 10px;
}

.bt-inline-bloc {
   display: inline-block;
}

.bt-medium {
   display: inline-block;
   font-size: .9em;
   padding: 8px 15px 8px 15px;
}

.bt-small {
   font-size: .8em;
   padding: 4px;
   width: 60px;
   border-radius: 4px;
}

.bt-extra-small-arrow {
   font-size: .8em;
   padding: 3px 2px 2px 3px;
   width: 18px;
   height: 18px;
   border-radius: 50%;
}

.boutonsPassesFuturs {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}

.bouton:hover {
   cursor: pointer;
   color: #fff;
}

.bt-grise {
   background-color: rgb(128, 128, 128);
}