.articles .bloc-cards {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}

.articles .tampon-oblique {
   z-index: 1;
   position: absolute;
   text-align: center;
   top: 150px;
   left: 75px;
   width: auto;
   height: auto;
   color: rgb(255, 255, 255);
   border: 1px rgb(255, 255, 255) solid;
   padding: 10px;
   border-radius: 6px;
   font-weight: 600;
   text-shadow: #000 2px 2px 1px;
   box-shadow: #000 2px 2px 2px;
   transform: rotate(-20deg);
}

.articles .tampon-oblique-red {
   color: rgb(221, 0, 0);
   border: 1px rgb(221, 0, 0) solid;
}

.articles .card-article {
   
   min-width: 300px;
   height: auto;
   padding: 0;
   margin: 30px;
   border: solid 1px rgb(255, 255, 255);
   background-color: rgb(255, 255, 255);
   border-radius: 4px;
}

.articles .image {
   width: 70px;
   height: 70px;
   overflow: hidden;
   border-radius: 4px;
}

.articles .image img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   object-position: top;
}

.articles .titre {
   font-weight: 300;
   margin: 5px 0 5px 0;
}

.articles .infos {
   color: rgb(153, 153, 153);
   font-size: .9em;
}

 .articles .center {
   text-align: center;
 }

.articles .green {
   color: rgb(4, 133, 0);
}

.articles .blue {
   color: rgb(0, 123, 224);
}

.articles .infos i {
   position: relative;
   bottom: 1px;
}


.articles .hook {
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   margin-bottom: 6px;
   text-transform: uppercase;
   color: rgb(111, 111, 111);
   font-size: .9em;
}

.articles .contenu {
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}

.articles .bloc-text {
   padding: 0 3px 0 3px;
   color: rgb(68, 68, 68);
   overflow: hidden;
   text-overflow: ellipsis;
}