.communiques {
   padding-top: 0;
   padding-bottom: 0;
}

/* .communiques h2 {
   font-size: 1.1em;
   margin: auto;
   width: max-content;
   text-align: center;
   padding: 2px;
   border-radius: 2px;
} */

.communiques .bloc-cards {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   align-items: center;
   padding: 20px 0 20px 0;
   /* border: rgb(255, 0, 0) 1px solid; */
}

.communiques .events-notification {
   /* border: 1px solid fuchsia; */
   font-size: .9em;
   text-transform: uppercase;
}

.communiques .events-notification-number {
   display: inline-block;
   position: relative;
   background-color: #225d91;
   width: 1.4em;
   height: 1.4em;
   border-radius: 50%;
   font-weight: 600;
}

.communiques .events-notification-number-value {
   position: relative;
   left: 5px;
   top: 1px;
}

.communiques .card-communique {
   display: flex;
   align-items: center;
   flex-direction: row;
   max-width: 350px;
   height: auto;
   padding: 2px;
   margin: 0 30px 0 30px;
   /* border: yellow 1px solid; */
}

.communiques .card-communique:hover,
.communiques .events-notification:hover {
   text-decoration: none;
   color: #ffffff;
}

.communiques .titre {
   text-transform: uppercase;
   padding: 0 4px 0 4px;
   margin: 0;
   white-space: nowrap;
   width: max-content;
   border-radius: 2px;
}

.communiques .titre::after {
   content: ":";
}

.communiques .hook {
   text-transform: capitalize;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   font-size: .9em;
   padding: 6px 6px 6px 0;
}
