.communiques {
   position: relative;
   display: flex;
   justify-content: center;
   position: relative;
   padding: 0;
   /* border: yellow 1px solid; */
}

/* .communiques .bloc-cards {
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 0px 0 0 0;
   border: #ff0000 1px solid;
   border-radius: 3px;
   padding: 0;
   color: rgb(214, 214, 214);
   width: 300px;
}

.communiques .events-notification,
.communiques .card-communique {
   font-size: .9em;
   padding: 3px 0 3px 0;
   border: rgb(17, 0, 255) 1px solid;
   width: max-content;
   display: flex;
   flex-direction: row;
   justify-content: center;
}

.communiques .events-notification i,
.communiques .card-communique i {
   position: relative;
   left: 4px;
}

.communiques .events-notification {
   text-transform: capitalize;
}

.communiques .card-communique:hover,
.communiques .events-notification:hover {
   text-decoration: none;
   color: #ffffff;
}

.communiques .titre {
   text-transform: uppercase;
   padding: 0 4px 0 0;
   max-width: 120px;
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
}

.communiques .hook {
   text-transform: capitalize;
   max-width: 146px;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
} */

/* .communiques .date {
   font-style: italic;
   color: #575757;
} */
