.bloc-cards {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}

.card-wraper {
   position: relative;
}

.tampon-oblique {
   z-index: 1;
   position: absolute;
   text-align: center;
   top: 150px;
   left: 75px;
   width: auto;
   height: auto;
   color: rgb(255, 255, 255);
   border: 1px rgb(255, 255, 255) solid;
   padding: 10px;
   border-radius: 6px;
   font-weight: 600;
   text-shadow: #000 2px 2px 1px;
   box-shadow: #000 2px 2px 2px;
   transform: rotate(-20deg);
}

.tampon-oblique-red {
   color: rgb(221, 0, 0);
   border: 1px rgb(221, 0, 0) solid;
}

.card-event, .card-article {
   width: 240px;
   height: auto;
   padding: 9px 9px 12px 9px;
   margin: 30px;
   background-color: rgb(255, 255, 255);
   border-radius: 4px;
}

.completed {
   color: rgb(177, 164, 90);
}

.image {
   width: 100%;
   height: 160px;
   overflow: hidden;
   border-radius: 4px;
}

.image img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   object-position: top;
}

.titre {
   font-weight: 600;
   text-align: center;
   color: rgb(49, 49, 49);
   margin: 15px 0 5px 0;
}

.infos {
   margin: 15px auto 2px auto;
   color: rgb(112, 112, 112);
}

.info-jour {
   position: relative;
   float: right;
   font-weight: 600;
}

 .center {
   text-align: center;
 }

.green {
   color: rgb(4, 133, 0);
}

.blue {
   color: rgb(0, 123, 224);
}

.infos i {
   position: relative;
   bottom: 1px;
}

.card-event-grise {
   opacity: .6;
}

.hook, .description {
   margin: 4px 0 4px 0;
}

.hook {
   text-align: center;
   color: rgb(83, 83, 83);
   white-space: nowrap;
   overflow: hidden;
   font-weight: 600;
   margin-bottom: 10px;;
   text-overflow: ellipsis;
}

.description {
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}

.bloc-text {
   padding: 0 3px 0 3px;
   color: rgb(68, 68, 68);
   overflow: hidden;
   text-overflow: ellipsis;
}