.bloc-cards {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}

.card-event, .card-article {
   border: solid gray 1px;
   width: 250px;
   min-width: 200px;
   padding: 20px;
   margin: 20px;
}

.completed {
   color: rgb(145, 145, 145);
}

