.header-wrapper {
   position: relative;
   margin: 0;
   height: 100%;
   padding: 25px;
   background: inherit;
}

.header-panel {
   border: 1px #6868688a solid;
   border-radius: 4px;
}

.header-panel {
   background: inherit;
   position: relative;
   padding: 28px 22px 46px 28px;
   display: flex;
   height: 77px;
   overflow: hidden;
   z-index: 1;
}

.header-panel a {
   display: inline-block;
   text-decoration: none;
}

/* Pour un effet de verre dépoli */

.header-panel::before {
   z-index: -1;
   content: "";
   position: absolute;
   background: inherit;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   filter: blur(9px);
   box-shadow: inset 0 0 2000px rgba(46, 46, 46, 0.582);
}

.logo-panel-wrapper {
   /* border: blue solid 1px; */
   bottom: 10px;
   position: relative;
}

.logo-panel {
   display: flex;
   position: relative;
   /* border: 1px rgb(21, 255, 0) solid; */
   align-items: center;
}

.logo-image {
   width: 90px;
   /* border: 1px rgb(0, 47, 255) solid; */
}

.logo-image img {
   width: 100%;
}

.logo-titre {
   margin: 0;
   padding: 0;
   width: 175px;
   margin-left: 20px;
   color: #ffffff;
   text-shadow: 1px 1px #000000;
   font-size: 2.5em;
   line-height: 1em;
}

.decription-asso {
   /* border: red 1px solid; */
   padding: 0;
   margin: 5px 0 0 0;
   font-size: .82em;
   color: #fff;
}

/* =================== menu ===================== */

nav {
   z-index: 5000;
   height: 50px;
   text-transform: uppercase;
   font-size: .85em;
   width: 69%;
   position: absolute;
   top: 55px;
   right: 53px;
   font-weight: 500;
   padding: 0 20px 0 20px;
   border-radius: 4px;
}

nav a, nav .btDropdown {
   position: relative;
   /* border: solid transparent 1px; */
   min-width: max-content;
   text-align: center;
   padding: 10px;
   color: rgb(220, 220, 220);
   background-color: #155186;
   border-radius: 36px;
}

nav .btDropdown {
   /* background-color: inherit; */
   font-size: inherit;
   text-transform: inherit;
   border: inherit;
   bottom: 3px;
   /* border: solid transparent 1px; */
}

button:focus {
   outline: none;
}

nav a:hover, nav .btDropdown:hover, nav ul.dropdown-content a:hover {
   color: #fff;
}

nav ul.ulMenuGeneral {
   display: flex;
   justify-content: space-between;
   padding: 0;
   margin: 0;
   height: 100%;
   border-radius: 4px;
}

nav ul.dropdown-content {
   position: absolute;
   display: block;
   max-height: 0;
   overflow: hidden;
   right: 0;
   margin-top: 2px;
   z-index: -1;
   transition: all .8s;
}

nav ul.dropdown-content a {
   display: block;
   width: auto;
   font-size: .9em;
   text-align: right;
}

nav ul.dropdown-content > li {
   width: auto;
   padding: 5px 0 5px 0;

}

nav ul {
   background-color: inherit;
}

nav li {
   position: relative;
   height: 100%;
   width: max-content;
}

.btDropdown.visible + ul.dropdown-content {
  /* display: block !important; */
  /* opacity: 1; */
  height: auto;
  max-height: 500px; /* Obligé de mettre une max-height pour que la transition fonctionne */
  /* visibility: visible; */
}


/* =========== Icones fontawesome =========== */

.btDropdown > div::after {
   position: relative;
   display: inline-block;
   left: 6px;
   top: 2px;
   font-family: "Font Awesome 5 Free";
   font-size: 1.4em;
   font-weight: 600;
   content: "\f0da";
   transition: all .6s;
}

.btDropdown.visible > div::after {
   transform: rotate(90deg);
   color: rgb(255, 111, 0);
}

.icone-communiques-calque-0 {
   position: relative;
   top: 4px;
   font-size: 1.8em;
}

.icone-communiques-calque-1 {
   position: relative;
   right: 19px;
   top: 6px;
   font-size: 1.6em;
}

.icone-communiques-calque-2 {
   position: relative;
   right: 13px;
   top: 7px;
   font-size: 1.4em;
   transform: rotate(-30deg);
}

/* ================ Petits écrans ================ */

@media screen and (max-width: 1480px) {
   nav {
      position: fixed;
      width: 100%;
      max-width: 220px;
      right: -310px;
      top: 0;
      height: auto;
      border-radius: 0 0 0 8px;
      border: none;
      transition: right .3s;
      padding: 34px 0 20px 0;
      background-color: #155186;
   }
   nav.visible {
      right: 0;
   }
   nav a, nav .btDropdown {
      text-align: left;
      padding-left: 40px;
   }
   nav ul.ulMenuGeneral {
      display: block;
      width: inherit;
      max-height: 85vh;
      overflow-y: scroll;
      overflow-x: hidden;
   }
   
   nav li {
      padding: 5px 0 5px 0;
   }

   nav li, nav a, nav .btDropdown {
      width: inherit; 
      min-width: initial;
      background-color: inherit;
      height: auto;
      /* border: #000000 solid 1px; */

   }
   nav ul {
      background-color: inherit;
      height: auto;
   }
   nav ul.dropdown-content {
      z-index: 10;
      padding-left: 0;
      position: relative;
      left: 0;
      max-width: 230px !important;
      border: none;
      background-color: #10426e;
   }
   nav ul.dropdown-content a {
      min-width: 150px;
      max-width: 220px;
      /* padding-left: 50px; */
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      text-align: left;
   }
   /* ================ Burger ================ */
   #burger {
      z-index: 10000;
      display: block;
      position: fixed;
      right: 30px;
      top: 30px;
      width: 50px;
      height: 50px;
      cursor: pointer;
      background-color: #15518677;
      border-radius: 50%;
      border: solid 1px transparent;
      transition: border .6s;
   }
   #burger:hover #burgerBarre1, #burger:hover #burgerBarre2, #burger:hover #burgerBarre3 {
      background-color: rgb(255, 255, 255);
   }
   #burgerBarre1, #burgerBarre2, #burgerBarre3 {
      height: 3px;
      width: 30px;
      background-color: rgb(211, 211, 211);
      position: absolute;
      border-radius: 4px;
      left: 10px;
      transition: all .3s;
   }
   #burgerBarre1 {
      top: 14px;
   }
   #burgerBarre2 {
      top: 23px;
   }
   #burgerBarre3 {
      top: 32px;
   }
   .burgerBarre1-menu-ouvert {
      transform: rotate(45deg) !important;
      top: 22px !important;
   }
   .burgerBarre2-menu-ouvert {
      display: none !important;
   }
   .burgerBarre3-menu-ouvert {
      transform: rotate(-45deg) !important;
      top: 22px !important;
   }
   .burger-menu-ouvert {
      background-color: transparent !important;
   }
}

/* ================ Très petits écrans ================ */

@media screen and (max-width: 460px) {
   .header-wrapper {
      padding: 20px;
   }
   .logo-titre {
      width: 42px;
      font-size: 1.9em;
   }
   .decription-asso {
      font-size: .65em;
   }
}

/* ================ Écrans riquiquis ================ */

@media screen and (max-width: 340px) {
   .decription-asso {
      font-size: .62em;
   }
}