.header-wrapper {
   position: relative;
   margin: 0;
   height: 100%;
   padding: 25px;
   background: inherit;
}

.header-panel, nav {
   border: 1px rgba(104, 104, 104, 0.541) solid;
   border-radius: 4px;
}

.header-panel {
   background: inherit;
   position: relative;
   padding: 28px 22px 46px 28px;
   display: flex;
   height: 77px;
   overflow: hidden;
   z-index: 1;
}

.header-panel a {
   display: inline-block;
   text-decoration: none;
}

/* Pour un effet de verre dépoli */
.header-panel::before {
   z-index: -1;
   content: "";
   position: absolute;
   background: inherit;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   filter: blur(9px);
   box-shadow: inset 0 0 2000px rgba(46, 46, 46, 0.582);
}

.logo-panel {
   display: flex;
   /* border: 1px rgb(21, 255, 0) solid; */
   align-items: center;
}

.logo-image {
   width: 90px;
   /* border: 1px rgb(0, 47, 255) solid; */
}

.logo-image img {
   width: 100%;
}

.logo-titre {
   margin: 0;
   padding: 0;
   width: 175px;
   margin-left: 20px;
   color: #ffffff;
   text-shadow: 1px 1px #000000;
   font-size: 2.5em;
   line-height: 1em;
}


/* =================== menu ===================== */
nav {
   z-index: 5;
   height: 15px;
   text-transform: uppercase;
   font-size: .9em;
   width: 55%;
   position: absolute;
   top: 55px;
   right: 53px;
   font-weight: 500;
   padding: 20px;
   color: #ffffff;
   overflow: hidden;
}

nav a {
   position: relative;
}

nav a::before, .active::before {
   content: "";
   top: 35px;
   transition: top .1s;
   display: inline-block;
   position: absolute;
   width: 100%;
   border-top: 2px  white solid;
   border-bottom: 2px  white solid;;
   border-radius: 6px;
}

nav a:hover::before, .active::before {
   top: 31px;
}

nav ul {
   padding: 0;
   margin: 0;
}

nav ul {
   /* border: linen 1px solid; */
   display: flex;
   justify-content: space-between;
}

nav li {
   position: relative;
   padding: 0 15px 0 15px;
   /* border: red 1px solid; */
}
