.container-form {
   /* border: 1px yellow solid; */
   display: flex;
   justify-content: center;
   margin: 0 16px 60px -8px;
}

.form1 {
   /* border: solid 1px blue; */
   display: flex;
   justify-content: center;
   flex-direction: column;
   width: 900px;
}

.form1 .titre, .form1 .hook, .form1 .image, .form1 .description {
   width: 100%;
   /* margin: 0 0 20px 0; */
   height: 25px;
   border: none;
   border-radius: 6px;
   padding: 8px 14px 8px 14px;
   font-size: 1em;
   color: rgb(78, 78, 78);
   background-color: #ffffff;
}

.champ {
   margin: 0 20px 20px 20px;
   /* border: solid 1px blue; */
}

.date {
   font-size: 1.6em;
}

.form1 .description {
   height: 200px;
   width: 100%;
}

.images {
   display: flex;
   justify-content: left;
}

.images img {
   border-radius: 6px 6px 0 0;
   width: 80px;
   height: 60px;
   object-fit: cover;
   object-position: top;
}

.form1 h3 {
   text-align: left;
   margin: 0 20px 0 20px;
}

.blocVignettes {
   display: flex;
   flex-wrap: wrap;
   margin-left: 10px;
   position: relative;
   top: 10px;
   border: solid 1px rgb(255, 0, 0);
}

.vignette {
   display: flex;
   position: relative;
   flex-direction: column;
   margin: 10px;
   bottom: 12px;
}

.ligne1 {
   margin: 30px 0 30px 0;
   display: flex;
   justify-content: left;
   flex-wrap: wrap;
   align-items: flex-end;
   /* border: solid 1px rgb(255, 0, 0); */
}

.ligne2 {
   display: flex;
   justify-content: left;
}

.form1 button, .form1 .bouton {
   /* font-family: 'Kodchasan', sans-serif; */
   text-align: center;
   border: unset;
   display: flex;
   justify-content: center;
   align-items: center;
   align-self: flex-end;
   /* box-shadow: 2px 2px 8px #4d4d4d; */
   height: 40px;
   width: 150px;
   border-radius: 6px;
   background-color: #2c70b8;
   font-weight: bold;
   /* text-shadow: 2px 2px 3px rgb(0, 0, 0); */
   color: #e0e0e0;
   font-size: 1.1em;
   cursor: pointer;
   margin-top: 20px;
}

.form1 button:hover, .form1 .petitBouton:hover {
   color: rgb(255, 255, 255);
}

.form1 .petitBouton {
   position: relative;
   height: 25px;
   width: 80px;
   font-size: .8em;
   font-weight: normal;
   margin-top: 8px;
   background-color: #ec1127;
   bottom: 8px;
   border-radius: 0 0 6px 6px;
}

/* Surcharge le style de a qui est en blanc */

.messageFlash a {
   color: #265735;
}