.full-element {
   position: relative;
   max-width: 1200px;
   margin: -23px auto 60px auto;
   background-color: transparent;
   border-radius: 12px;
}

h2 {
   color: #000;
}

.image {
   /* Switcher la height en auto et 70vh pour tester ce qui est mieux */
   height: 70vh;
   background-color: #000000;
   position: relative;
   top: 64px;
   left: 0;
}

.image img {
   background-color: #000000;
   max-width: 100%;
   max-height: 100%;
   border-radius: 12px;
   object-fit: scale-down;
   position: relative;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   margin: auto;
}

.image-caption {
   display: flex;
   justify-content: center;
   position: absolute;
   bottom: 0;
   left: 0;
   /* border: red solid 1px; */
   width: fit-content;
   max-width: 90%;
   margin: auto;
   padding: 4px;
   backdrop-filter: blur(4px);
   background-color: rgba(0, 0, 0, 0.5);
   box-shadow: 0px -5px 16px #28282873;
   border-radius: 4px;
}

.text-image-caption {
   text-align: center;
   color: #FFF;
   text-shadow: 2px 2px 3px rgb(0, 0, 0);
   font-size: 1.2em;
   overflow: scroll;
   max-height: 61px;
}

.info-bar {
   display: flex;
   align-items: flex-end;
   justify-content: space-between;
   color: rgb(136, 136, 136);
   margin-bottom: 60px;
}

.info-bar-left {
   font-size: .9em;
   line-height: 1.4em;
}

.articles-epingle-on {
   display: inline-block;
   position: relative;
   top: -2px;
}

.categorie {
   margin-top: 8px;
}

.contact {
   font-size: 1.1em;
}

.textes {
   background-color: white;
   color: #000000;
   border-radius: 0 0 12px 12px;
   padding: 10px 4% 50px 4%;
   min-height: 50vh;
   word-break: break-word;
}

.description a,
.contenu a,
.info-bar-left a.lieu-event-container {
   color: #0068d6;
   font-weight: 600;
}

.description a:hover,
.contenu a:hover,
.info-bar-left a.lieu-event-container:hover {
   color: #0054ad;
}

.hook {
   margin-bottom: 30px;
}

/* Met un border radius et rajoute du padding en haut de la zone de textes  */
.element-sans-image {
   border-radius: 12px !important;
   padding-top: 40px !important;
   position: relative;
   margin-top: 100px;
}



/* ======= ÉVÈNEMENT ======= */

.lieu-event-container {
   display: flex;
   padding: 12px 0;
}

.icone-maps-container {
   color: rgb(136, 136, 136);
}

.infos-lieu {
   padding-left: 6px;
}

.code-postal {
   padding-right: 5px;
   white-space: nowrap;
}

.code-postal-et-ville {
   display: flex;
}

.event-blue-angels {
   display: inline-block;
   width: 14px;
   height: 14px;
}

.event-blue-angels img {
   width: 100%;
   height: 100%;
}

.tampon-oblique-red {
   z-index: 1;
   position: absolute;
   top: 70%;
   right: 10%;
   text-align: center;
   text-transform: uppercase;
   font-size: .8em;
   width: 83%;
   margin: auto;
   height: auto;
   color: rgb(255, 255, 255);
   border: 1px rgb(255, 255, 255) solid;
   padding: 10px;
   border-radius: 6px;
   font-weight: 400;
   text-shadow: #000 1px 1px 1px;
   box-shadow: #000 2px 2px 2px;
   transform: rotate(-20deg);
   color: rgb(221, 0, 0);
   border: 1px rgb(221, 0, 0) solid;
}

