.full-element {
   position: relative;
   max-width: 1200px;
   margin: -23px auto 60px auto;
   background-color: transparent;
   border-radius: 12px;
}

h2 {
   color: #000;
}

.image {
   height: 70vh;
   position: relative;
   top: 64px;
   left: 0;
   background-color: black;
   border-radius: 12px 12px 0 0;
}

.image img {
   max-width: 100%;
   max-height: 100%;
   border-radius: 12px;
   object-fit: scale-down;
   position: relative;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   margin: auto;
}

.image-caption {
   display: flex;
   justify-content: center;
   position: absolute;
   bottom: 2px;
   left: 0;
   width: fit-content;
   max-width: 90%;
   margin: auto;
   padding: 4px;
   /* backdrop-filter: blur(4px); */
   background-color: rgb(255, 255, 255);
   /* box-shadow: 0px -5px 16px #28282873; */
   border-radius: 4px;
}

.text-image-caption {
   text-align: center;
   color: rgb(42, 42, 42);
   /* text-shadow: 2px 2px 3px rgb(0, 0, 0); */
   font-size: 1.2em;
   overflow: hidden;
   max-height: 121px;
}

.info-bar-top {
   color: rgb(136, 136, 136);
   margin-top: 33px;
}

.info-bar-bottom {
   color: rgb(136, 136, 136);
   margin-top: 33px;
   /* border: green solid 1px; */
}

.info-bar-left {
   font-size: .9em;
   line-height: 1.4em;
   /* border: blue solid 1px; */
}

.articles-epingle-on {
   display: inline-block;
   position: relative;
   top: -2px;
}

.ligne-left-items {
   display: flex;
   justify-content: flex-start;
   align-items: end;
   flex-wrap: wrap;
   /* border: red solid 1px; */
}

.ligne-center-items {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   /* border: rgb(106, 0, 255) solid 1px; */
}

.infos-naviguer {
   display: block;
   text-align: center;
   width: fit-content;
   max-width: 80px;
   font-size: .7em;
   line-height: 1em;
   /* border: rgb(106, 0, 255) solid 1px; */
}

.num-article {
   font-weight: 500;
   font-size: 1.3em;
   text-transform: uppercase;
   color: rgb(118, 118, 118);
   line-height: initial;

}

.bloc-boutons {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   flex-wrap: wrap;
}

.marge-boutons {
   margin: 11px 11px 0 0;
}

.bloc-nav-plus-moins {
   display: flex;
   align-items: end;
   justify-content: center;
   /* border: rgb(255, 0, 0) solid 1px; */
}

.bloc-admin {}

.ligne-left-items>*,
.ligne-center-items>* {
   margin: 8px 12px 8px 0;
}

/* .contact {
   font-size: 1.1em;
   border: rgb(55, 1, 135) solid 1px;
} */

.textes {
   background-color: white;
   color: #000000;
   border-radius: 0 0 12px 12px;
   padding: 10px 4% 50px 4%;
   word-break: break-word;
}

.description a,
.contenu a,
.info-bar-left a.lieu-event-container {
   color: #0068d6;
   font-weight: 600;
}

.description a:hover,
.contenu a:hover,
.info-bar-left a.lieu-event-container:hover {
   color: #0054ad;
}

.hook {
   margin: 20px 0 50px 0;
}

/* Met un border radius et rajoute du padding en haut de la zone de textes  */
.element-sans-image {
   border-radius: 12px !important;
   padding-top: 40px !important;
   position: relative;
   margin-top: 100px;
}

.liens-full-page-element a {
   display: inline-block;
   position: relative;
   max-width: 130px;
   height: 15px;
   font-size: .7em;
   border: #999 solid 1px;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
   text-align: center;
   padding: 2px;
   top: 5px;
   border-radius: 7px;
   /* background-color: #c6c6c6; */
}


/* ======= ÉVÈNEMENT ======= */

.lieu-event-container {
   display: flex;
   padding: 12px 0;
}

.icone-maps-container {
   color: rgb(136, 136, 136);
}

.infos-lieu {
   padding-left: 6px;
}

.code-postal {
   padding-right: 5px;
   white-space: nowrap;
}

.code-postal-et-ville {
   display: flex;
}

.event-blue-angels {
   display: inline-block;
   width: 14px;
   height: 14px;
}

.event-blue-angels img {
   width: 100%;
   height: 100%;
}

.tampon-oblique-red {
   z-index: 1;
   position: absolute;
   top: 70%;
   right: 10%;
   text-align: center;
   text-transform: uppercase;
   font-size: .8em;
   width: 83%;
   margin: auto;
   height: auto;
   color: rgb(255, 255, 255);
   border: 1px rgb(255, 255, 255) solid;
   padding: 10px;
   border-radius: 6px;
   font-weight: 400;
   text-shadow: #000 1px 1px 1px;
   box-shadow: #000 2px 2px 2px;
   transform: rotate(-20deg);
   color: rgb(221, 0, 0);
   border: 1px rgb(221, 0, 0) solid;
}

@media screen and (max-width: 695px) {}