section {
   padding: 0 0 40px 0;
}

.barre-news-wrapper {
   border-bottom: solid 1px rgb(138, 138, 138);
   padding: 9px 4vw;
}

.barre-news {
   /* border: solid 1px rgb(255, 0, 0); */
   max-width: 1025px;
   margin: auto;
   display: flex;
   justify-content: space-around;
   height: auto;
   padding: 0;
}

.barre-news a {
   z-index: 1;
   padding: 0;
   margin: 0;
   height: max-content;
}

.communique {
   display: flex;
   flex-wrap: nowrap;
   /* border: solid 1px rgb(0, 47, 255); */
   font-size: .8em;
   overflow: hidden;
   padding: 0;
   /* height: max-content; */
   width: max-content;
   max-width: 150px;
}

.titre-communique {
   text-transform: uppercase;
   font-weight: 600;
   color: rgb(197, 197, 197);
   min-width: max-content;
}

.hook-communique {
   width: max-content;
}

.icone-titre-communique-calque-0 {
   position: relative;
   font-size: 1.8em;
   color: #2c70b8;
}

.icone-titre-communique-calque-1 {
   position: relative;
   margin-left: -15px;
   margin-right: 9px;
   bottom: 3px;
}

a .communique:hover * {
   color: white;
}

.titre-communique,
.hook-communique,
.date-communique {
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   text-align: center;
}

.date-communique {
   color: rgb(106, 106, 106);
}

.voir-tous-les-communiques {
   /* border: solid yellow 1px; */
}

.bouton-wrapper {
   position: relative;
   top: -11px;
   /* border: solid violet 1px; */
   width: max-content;
   margin: auto;
   padding: 0 5px;
   background-color: #1b1b1b;
}

@media screen and (max-width: 550px) {
   .communique {
      max-width: 88px;
      font-size: .7em;
   }

   .titre-communique {
      max-width: 70px;
      min-width: initial;
   }

   .hook-communique {
      max-width: 33px;
      min-width: initial;
   }
}