section {
   padding: 0 0 40px 0;
}

.bienvenue-panel {
   /* text-align: center;
   font-size: 1.9em;
   padding: 0 12px 0 12px;
   color: #fff;
   font-weight: 300; */
}

.bienvenue-panel p {
   margin: 0;
   padding: 0;
}

.articles {
   /* background-color: #203246; */
}

.events {
   /* background-color: #182534; */
}
