.bloc-cards {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
}

.card {
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: relative;
   background-color: #fff;
   width: 275px;
   min-width: 275px;
   height: 124px;
   min-height: 124px;
   margin: 20px;
   border-radius: 6px;
   cursor: pointer;
}

.card:hover .prenom-nom {
   top: 0;
}

.card:hover .fleche {
   left: 13px;
}

.card:hover .bloc-image .image {
   filter: grayscale(0);
}

.bloc-image {
   position: relative;
   width: 50%;
   height: 100%;
   /* border: red 1px solid; */
}

.bloc-image .image {
   position: relative;
   width: 82%;
   border-radius: 50%;
   overflow: hidden;
   /* border: green 1px solid; */
   margin: auto;
   top: 6px;
   filter: grayscale(1);
   transition: filter .8s;
}


.bloc-image .image>img {
   display: block;
   width: 100%;
   object-fit: cover;
}

.bloc-text {
   /* border: blue solid 1px; */
   position: relative;
   color: #fff;
   width: 50%;
   background-color: #225d91;
   height: 100%;
   padding: 8px 8px 10px 10px;
   border-radius: 0 6px 6px 0;
   box-sizing: border-box;
   overflow: hidden;
}

.prenom-nom {
   position: relative;
   top: 26px;
   transition: top .4s;
}

.fleche {
   position: absolute;
   left: -20px;
   top: 64px;
   transition: left .4s;
}


/* ============ MODALE ============= */

.modal {
   position: fixed;
   width: 100vw;
   height: 100vh;
   z-index: 10001;
   top: 0;
   left: -100vw;
   /* backdrop-filter: blur(4px); */
   transition: left .4s;
}

.modal.show {
   left: 0;
}

.darker-layer {
   position: fixed;
   width: 100vw;
   height: 100vh;
   top: 0;
   left: 0;
   z-index: -1;
   transition: all .2s;
}

.to-dark {
   z-index: 9999;
   background-color: rgba(0, 0, 0, 0.5);
}

.modal.show .close {
   position: absolute;
   /* filter: invert(100%); */
   filter: drop-shadow(2px 3px 1px rgb(0, 0, 0));
   cursor: pointer;
   z-index: 1;
   width: 32px;
   top: 10px;
   left: 10px;
}

.close>img {
   width: 100%;
}

.modal-content {
   position: absolute;
   width: 900px;
   color: rgb(49, 49, 49);
   max-width: 92vw;
   min-height: 34vh;
   height: max-content;
   max-height: 88vh;
   background-color: #fff;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   border-radius: 8px;
   /* border: red solid 1px; */
   display: flex;
   overflow: hidden;
}

.modal.show .hook {
   /* border: blue solid 1px; */
   width: auto;
   height: auto;
   color: #fff;
   background-color: #225d91;
   padding: 50px;
   border-radius: 8px 0 0 8px;
}

.modal.show .image {
   width: 165px;
   margin: auto;
}

.modal.show .image>img {
   width: 165px;
   border-radius: 50%;
   object-fit: cover;
   position: relative;
   left: -6px;
   border: #fff solid 5px;
}

.modal.show .nom-prenom {
   font-weight: 700;
   margin-top: 15px;
   text-align: center;
}

.modal.show .nom {}

.modal.show .prenom {}

.modal.show .fonction {
   margin-top: 30px;
   text-align: center;
}

.modal.show .description {
   height: auto;
   /* border: green solid 1px; */
   overflow: scroll;
   padding: 25px;
}

/* ======= Écrans plus petits ====== */

@media screen and (max-width: 600px) {

   .modal-content {
      max-width: 100vw;
      max-height: 100vh;
      flex-direction: column;
   }

   .modal.show .hook {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      border-radius: 8px 8px 0 0;
   }

   .modal.show .nom-prenom {
      /* border: 1px red solid; */
   }

   .modal.show .fonction {
      /* border: 1px rgb(255, 200, 0) solid */
   }

   .modal.show .image {
      /* border: 1px green solid; */
      /* width: 120px; */

   }

   .modal.show .image>img {
      /* width: 120px; */
   }

   .modal.show .description {}

}


@media screen and (max-height: 570px) {

   .modal.show .hook {
      padding: 6vh;
   }

   .modal.show .fonction {
      margin-top: 0;
   }

   .modal.show .image {}

   .modal.show .image>img {}

}

@media screen and (max-height: 480px) {

   .modal.show .hook {}

   .modal.show .image {
      width: 28vh;
      min-width: 70px;
   }
   
   .modal.show .image>img {
      width: 28vh;
      /* border: 1px red solid; */
      min-width: 70px;
   }

   .modal.show .close {
      top: 0;
      left: 0;
   }

}