.bloc-cards {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
}

.card {
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: relative;
   background-color: #fff;
   width: 275px;
   min-width: 275px;
   height: 124px;
   min-height: 124px;
   margin: 20px;
   border-radius: 6px;
   cursor: pointer;
}

.card:hover .prenom-nom {
   top: 0;
}

.card:hover .fleche {
   left: 13px;
}

.bloc-image {
   position: relative;
   width: 50%;
   height: 100%;
   /* border: red 1px solid; */
}

.bloc-image .image {
   position: relative;
   width: 82%;
   border-radius: 50%;
   overflow: hidden;
   /* border: green 1px solid; */
   margin: auto;
   top: 6px;
}

.bloc-image .image>img {
   display: block;
   width: 100%;
   object-fit: cover;
}

.bloc-text {
   /* border: blue solid 1px; */
   position: relative;
   color: #fff;
   width: 50%;
   background-color: #225d91;
   height: 100%;
   padding: 8px 8px 10px 10px;
   border-radius: 0 6px 6px 0;
   box-sizing: border-box;
   overflow: hidden;
}

.prenom-nom {
   position: relative;
   top: 26px;
   transition: top .4s;
}

.fleche {
   position: absolute;
   left: -20px;
   top: 64px;
   transition: left .4s;
}


/* ============ MODALE ============= */

.modal {
   position: fixed;
   width: 100vw;
   height: 100vh;
   background-color: #0909098a;
   z-index: 10000;
   top: 0;
   left: 0;
   /* backdrop-filter: blur(4px); */
   transition: all .5s;
   overflow: hidden;
   opacity: 0;
   visibility: hidden;
}

.modal.show {
   visibility: visible;
   opacity: 1;
}

.modal .close {
   position: absolute;
   /* filter: invert(100%); */
   cursor: pointer;
   width: 32px;
   top: 10px;
   left: 10px;
}

.close>img {
   width: 100%;
}

.modal-content {
   position: absolute;
   width: 900px;
   color: rgb(49, 49, 49);
   max-width: 92vw;
   min-height: 34vh;
   height: max-content;
   max-height: 88vh;
   background-color: #fff;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   border-radius: 8px;
   /* border: red solid 1px; */
   display: flex;
}


.modal .hook {
   /* border: blue solid 1px; */
   width: auto;
   height: auto;
   color: #fff;
   background-color: #225d91;
   padding: 50px;
   border-radius: 8px 0 0 8px;
}

.modal .image {
   width: 165px;

}

.modal .image>img {
   border-radius: 50%;
   object-fit: cover;
   border: #fff solid 5px;
}

.modal .nom-prenom {
   font-weight: 700;
   margin-top: 15px;
}

.modal .nom {}

.modal .prenom {}

.modal .fonction {
   margin-top: 30px;
}

.modal .description {
   height: auto;
   /* border: green solid 1px; */
   overflow: scroll;
   padding: 25px;
   overflow: scroll;
}