.events .bloc-cards {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}

.events .card-wraper {
   position: relative;
}

.events .tampon-oblique {
   z-index: 1;
   position: absolute;
   text-align: center;
   text-transform: uppercase;
   font-size: .9em;
   top: 150px;
   left: 75px;
   width: auto;
   height: auto;
   color: rgb(255, 255, 255);
   border: 1px rgb(255, 255, 255) solid;
   padding: 10px;
   border-radius: 6px;
   font-weight: 400;
   text-shadow: #000 2px 2px 1px;
   box-shadow: #000 2px 2px 2px;
   transform: rotate(-20deg);
}

.events .tampon-oblique-red {
   color: rgb(221, 0, 0);
   border: 1px rgb(221, 0, 0) solid;
}

.events .card-event {
   width: 240px;
   height: auto;
   padding: 0;
   border: 1px solid rgb(255, 255, 255);
   margin: 30px;
   background-color: rgb(255, 255, 255);
   border-radius: 4px;
}

.events .card-event:hover img {
   transform: scale(1.12);
}

.events .card-event:hover .bouton {
   color: rgb(255, 255, 255);
}

.events .completed {
   color: rgb(177, 164, 90);
}

.events .image {
   width: 100%;
   height: 150px;
   overflow: hidden;
   border-radius: 4px;
}

.events .image img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   object-position: top;
   transition: 0.4s ease;
}

.events .titre {
   font-weight: 500;
   text-align: center;
   color: rgb(0, 0, 0);
   margin: 15px 0 5px 0;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}

.events .infos {
   display: flex;
   justify-content: space-between;
   margin: 15px auto 2px auto;
   color: rgb(112, 112, 112);
   font-size: .88em;
   font-weight: 400;
   position: relative;
   top: 2px;
}



.events .card-event-grise {
   opacity: .5;
}

.events .hook {
   text-align: center;
   color: rgb(0, 0, 0);
   white-space: nowrap;
   overflow: hidden;
   font-weight: 300;
   text-overflow: ellipsis;
   margin: 4px 0 10px 10px;
}

.events .description {
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}

.events .bloc-text {
   padding: 0 12px 10px 12px;
   color: rgb(68, 68, 68);
   overflow: hidden;
   text-overflow: ellipsis;
}