{% extends 'components/base.html.twig' %}
{% block stylesheets %}{% endblock %}


{% block title %}
   {{ SiteName }}:
   Gérer les articles
{% endblock %}

{% block body %}
   <div class="wrapper">
      <h1>
         Gérer les tarifs
      </h1>
      <p class="center">C'est le tarif le plus récent qui est ciblé par la page "Tarifs"</p>
      {{ include ('admin/articles/_adminArticlesBase.html.twig') }}
   </div>   
{% endblock %}