{% extends 'components/base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/formulaireGenerique.css') }}">
	<link rel="stylesheet" href="{{ asset('css/boutonsEtInputs.css') }}">
{% endblock %}

{% block title %}
	{{ SiteName }}: Modifier l'utilisateur
{% endblock %}
{% block body %}

	<div class="wrapper">
		<h1>
			Modifier l'utilisateur
		</h1>

		<div class="container-form">
		
		
		
		</div>
	</div>
{% endblock %}
