html {
   box-sizing: border-box;
   color: rgb(184, 184, 184);
   background-color: #1b1b1b;
   font-family: 'Quicksand', sans-serif;
   scroll-behavior: smooth;
   padding: 0;
   margin: 0;
}

header {
   /* border: white solid 1px; */
   display: block;
   position: relative;
   width: 100%;
   height: auto;
   background-image: url("/bad/public/maintenance/images/ardian-lumi-6Woj_wozqmA-unsplash.jpg");
   background-color: rgb(0, 0, 0);
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
   background-position: bottom right;
   /* overflow: hidden; */
   border: solid green 1px;
}

.header-panel {
   border: black solid 1px;
   margin: 30px;
}

.enseigne {}

.logo {}

.logo-image {
   width: 90px;
}

.logo-image>img {
   width: 100%;
}

.nom-asso {}

.decription-asso {}

body {
   margin: 0;
   border: red 1px solid;
}

main {
   padding: 30px 5vw 30px 5vw;
}

h1 {
   text-align: center;
}

.center {
   text-align: center;
}

.titre-lien {
   font-size: 1.7em;
   /* word-wrap: break-word; */
   overflow: hidden;
}

a {
   color: rgb(0, 136, 255);
   text-decoration: none;
}