html {
   box-sizing: border-box;
   color: rgb(184, 184, 184);
   background-color: #1b1b1b;
   font-family: 'Quicksand', sans-serif;
   scroll-behavior: smooth;
   padding: 0;
   margin: 0;
}

html, body {
   height: 100vh;
   position: relative;
}

h3, h4 {
   padding: 0;
   text-transform: uppercase;
}

h3 {
   margin: 0 0 15px 0;
}

h4 {
   margin: 0 0 6px 0;
}

header {
   /* border: white solid 1px; */
   display: flex;
   justify-content: center;
   align-items: center;
   /* position: relative; */
   width: 100%;
   height: auto;
   background-image: url("../images/ardian-lumi-6Woj_wozqmA-unsplash.jpg");
   background-color: rgb(0, 0, 0);
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
   background-position: bottom right;
   overflow: hidden;
   /* border: solid green 1px; */
}

.header-panel {
   position: relative;
   border: rgb(164, 164, 164) solid 1px;
   margin: 30px;
   background-color: #4848483b;
   backdrop-filter: blur(10px);
   width: 369px;
   min-width: 220px;
   border-radius: 4px;
   padding: 12px 7px 7px 7px;
}

.enseigne {
   display: flex;
   align-items: center;
   justify-content: space-around;
   /* border: violet 1px solid; */
}

.logo {}

.logo-image {
   width: 90px;
}

.logo-image>img {
   width: 100%;
}

.nom-asso {
   color: #ffffff;
   text-shadow: 1px 1px #000000;
   font-size: 2.5em;
   line-height: 1em;
   font-weight: 300;
   text-transform: uppercase;
   width: 180px;
   /* border: blue 1px solid; */
   margin-left: 18px;
   text-align: center;
}


.decription-asso {
   color: #ffffff;
   font-weight: 300;
   text-transform: uppercase;
   font-size: .82em;
   text-align: center;
   text-shadow: 1px 1px #000000;
}

body {
   margin: 0;
   /* border: red 1px solid; */
}

main {
   padding: 30px 5vw 30px 5vw;
   min-height: calc(100vh - 512px);
}

h1 {
   text-align: center;
}

.center {
   text-align: center;
}

.titre-lien {
   font-size: 1.7em;
   /* word-wrap: break-word; */
   overflow: hidden;
}

a {
   text-decoration: none;
   color: rgb(0, 136, 255);
   text-decoration: none;
}

a:hover {
   color: rgb(109, 187, 255);
}

main a {}

.image-maintenance {
   margin: auto;
   /* text-align: center; */
   width: 100px;
}

.image-maintenance>img {
   width: 100%;
}

/* ----------- FOOTER /ON---------- */
footer {
   font-weight: 300;
   font-size: .85em;
   color: rgb(185, 185, 185);
   position: relative;
   bottom: 0;
   left: 0;
   width: 100vw;
   /* border: yellow solid 1px; */
   padding: 39px 0 10px 0;
   background-color: #2e2e2e;
}

.footer-panel {
   text-align: center;
   /* border: solid 1px rgb(0, 225, 255); */
}

footer p {
   padding: 0;
   margin: 0;
   /* border: solid 1px rgb(255, 166, 0); */

}

.text-blocs {
   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
   /* border: solid 1px rgb(0, 8, 255); */
}

.text-bloc {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   align-items: center;
   margin: 32px;
   /* border: solid 1px red; */
}

.image-inline {
   /* border: solid 1px rgb(221, 0, 255); */
   display: inline-block;
   position: relative;
   top: 2px;
}

.image-inline>img {
   width: 25px;
   filter: invert(50%);
}

.links-container {
   display: flex;
}

.link {
   margin: 0 4px 0 4px;
}

.link-image {
   width: 25px;
   filter: invert(50%);
}

.link-image:hover {
   filter: invert(80%);
}

.link-image>img {
   width: 100%;
}

/* ----------- FOOTER /OFF---------- */

@media screen and (max-width: 850px) {}


@media screen and (max-width: 400px) {
   .nom-asso {
      /* font-size: 2.2em; */

   }

   .header-panel {
      width: initial;
   }
}


@media screen and (max-width: 365px) {

   header {
      display: block;
   }

   .nom-asso {
      font-size: 2em;
   }

   .decription-asso {
      text-align: center;
   }


   @media screen and (max-width: 322px) {}

}