{% extends 'components/base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/formulaireGenerique.css') }}">
<link rel="stylesheet" href="{{ asset('css/boutonsEtInputs.css') }}">
{% endblock %}

{% block title %}
	{{ SiteName }}: Options site
{% endblock %}

{% block body %}
	<div class="wrapper">
		<h1>
			Options site
		</h1>
	</div>
{% endblock %}
