{% extends 'components/base.html.twig' %}
{% block stylesheets %}{% endblock %}

{% block title %}
	{{ SiteName }}: Gérer les photos
{% endblock %}

{% block body %}
	<div class="wrapper">
		<h1>
			Gérer les photos
		</h1>
		{{ include ('admin/articles/_adminArticlesBase.html.twig') }}
	</div>
{% endblock %}
