{% extends 'components/base.html.twig' %}
{% block stylesheets %}{% endblock %}


{% block title %}
   {{ SiteName }}:
   Editer un évènement
{% endblock %}

{% block body %}
   <div class="wrapper">
      <h1>Éditer un évènement</h1>
	   {{ include ('admin/eventsToCome/_form.html.twig', {form: form, button: 'Enregistrer'}) }}

      {% block javascript %}
         <script src="{{ asset('js/images.js') }}"></script>
      {% endblock %}
      
   </div>   
{% endblock %}