{% extends 'components/base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/blocContenuPageStandard.css') }}">
{% endblock %}

{% block title %}
	{{ SiteName }}: Adresse
{% endblock %}


{% block body %}

	<div class="wrapper">
		<h1 class="bienvenue-panel">
			Adresse
		</h1>

		<div class="bloc-contenu-page">






      </div>

	</div>
{% endblock %}
