{% extends 'components/base.html.twig' %}
{% block stylesheets %}{% endblock %}

{% block title %}
	{{ SiteName }}: Gérer les danses
{% endblock %}

{% block body %}
	<div class="wrapper">
		<h1>
			Gérer les danses
		</h1>
		<p class="center">C'est par son titre qu'est lié cet article à sa page. Sauf si on sait ce qu'on fait, il ne faut pas le modifier, et ne rien rajouter dans cette catégorie.</p>
		{{ include ('admin/articles/_adminArticlesBase.html.twig') }}
	</div>
{% endblock %}
