{% extends 'components/base.html.twig' %}
{% block stylesheets %}{% endblock %}

{% block title %}
	{{ SiteName }}: Gérer les Évènements passés
{% endblock %}

{% block body %}
	<div class="wrapper">
		<h1>
			Gérer les Évènements à venir
		</h1>
		{{ include ('admin/events/_adminEventsBase.html.twig',
		{pathBoutonPasseAvenir: 'admin.events.passes',
		titleBoutonPasseAvenir: 'Gérer les évènements passés',
		texteBoutonPasseAvenir: 'Passés',
		passeFuturEvents: eventsToCome}) }}
	</div>
{% endblock %}
